<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    @*404 Not Found*@
                    Access Denied
                </h2>
                <br />
                <div class="error-details">

                    <h4>Sorry, you don not have the permission to access this Resource.</h4>

                </div>
                <br />
                <div class="error-actions">
                    <a asp-action="index" asp-controller="Home" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        <h6>Take Me Back To Home</h6>
                    </a>
                    @*<a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
