

<h5 class="text-danger">@ViewBag.ErrorMessage</h5>

<h6>Please contact us on <span class="primary">crosssitemonitoring@softwel.com.np</span></h6>
<a asp-action="index" asp-controller="home">Click here to navigate to the home page</a>