@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome hello </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<p>

        At one time the Buddha was staying near Benares, in the deer park at Isipatana. There the Buddha addressed the group of five mendicants:

        “Mendicants, these two extremes should not be cultivated by one who has gone forth. What two? Indulgence in sensual pleasures, which is low, crude, ordinary, ignoble, and pointless. And indulgence in self-mortification, which is painful, ignoble, and pointless. Avoiding these two extremes, the Realized One woke up by understanding the middle way, which gives vision and knowledge, and leads to peace, direct knowledge, awakening, and extinguishment.

        And what is that middle way? It is simply this noble eightfold path, that is: right view, right thought, right speech, right action, right livelihood, right effort, right mindfulness, and right immersion. This is that middle way, which gives vision and knowledge, and leads to peace, direct knowledge, awakening, and extinguishment.

        Now this is the noble truth of suffering. Rebirth is suffering; old age is suffering; illness is suffering; death is suffering; association with the disliked is suffering; separation from the liked is suffering; not getting what you wish for is suffering. In brief, the five grasping aggregates are suffering.

        Now this is the noble truth of the origin of suffering. It’s the craving that leads to future rebirth, mixed up with relishing and greed, taking pleasure in various different realms. That is, craving for sensual pleasures, craving to continue existence, and craving to end existence.

        Now this is the noble truth of the cessation of suffering. It’s the fading away and cessation of that very same craving with nothing left over; giving it away, letting it go, releasing it, and not adhering to it.

        Now this is the noble truth of the practice that leads to the cessation of suffering. It is simply this noble eightfold path, that is: right view, right thought, right speech, right action, right livelihood, right effort, right mindfulness, and right immersion.

        ‘This is the noble truth of suffering.’ Such was the vision, knowledge, wisdom, realization, and light that arose in me regarding teachings not learned before from another. ‘This noble truth of suffering should be completely understood.’ Such was the vision that arose in me … ‘This noble truth of suffering has been completely understood.’ Such was the vision that arose in me …

        ‘This is the noble truth of the origin of suffering.’ Such was the vision that arose in me … ‘This noble truth of the origin of suffering should be given up.’ Such was the vision that arose in me … ‘This noble truth of the origin of suffering has been given up.’ Such was the vision that arose in me …

        ‘This is the noble truth of the cessation of suffering.’ Such was the vision that arose in me … ‘This noble truth of the cessation of suffering should be realized.’ Such was the vision that arose in me … ‘This noble truth of the cessation of suffering has been realized.’ Such was the vision that arose in me …

        ‘This is the noble truth of the practice that leads to the cessation of suffering.’ Such was the vision that arose in me … ‘This noble truth of the practice that leads to the cessation of suffering should be developed.’ Such was the vision that arose in me … ‘This noble truth of the practice that leads to the cessation of suffering has been developed.’ Such was the vision, knowledge, wisdom, realization, and light that arose in me regarding teachings not learned before from another.

        As long as my true knowledge and vision about these four noble truths was not fully purified in these three perspectives and twelve respects, I didn’t announce my supreme perfect awakening in this world with its gods, Māras, and Brahmās, this population with its ascetics and brahmins, its gods and humans.

        But when my true knowledge and vision about these four noble truths was fully purified in these three perspectives and twelve respects, I announced my supreme perfect awakening in this world with its gods, Māras, and Brahmās, this population with its ascetics and brahmins, its gods and humans.

        Knowledge and vision arose in me: ‘My freedom is unshakable; this is my last rebirth; now there are no more future lives.’”

        That is what the Buddha said. Satisfied, the group of five mendicants was happy with what the Buddha said.

        And while this discourse was being spoken, the stainless, immaculate vision of the Dhamma arose in Venerable Koṇḍañña: “Everything that has a beginning has an end.”

        And when the Buddha rolled forth the Wheel of Dhamma, the earth gods raised the cry: “Near Benares, in the deer park at Isipatana, the Buddha has rolled forth the supreme Wheel of Dhamma. And that wheel cannot be rolled back by any ascetic or brahmin or god or Māra or Brahmā or by anyone in the world.”

        Hearing the cry of the Earth Gods, the Gods of the Four Great Kings … the Gods of the Thirty-Three … the Gods of Yama … the Joyful Gods … the Gods Who Love to Create … the Gods Who Control the Creations of Others … the Gods of Brahmā’s Host raised the cry: “Near Benares, in the deer park at Isipatana, the Buddha has rolled forth the supreme Wheel of Dhamma. And that wheel cannot be rolled back by any ascetic or brahmin or god or Māra or Brahmā or by anyone in the world.”

        And so at that moment, in that instant, the cry soared up to the Brahmā realm. And this galaxy shook and rocked and trembled. And an immeasurable, magnificent light appeared in the world, surpassing the glory of the gods.

        Then the Buddha was inspired to exclaim: “Koṇḍañña has really understood! Koṇḍañña has really understood!”

        And that’s how Venerable Koṇḍañña came to be known as “Koṇḍañña Who Understood”.
    </p>*@
</div>
